@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 223 23% 19%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 182 99% 73%;
    --accent-foreground: 223 23% 19%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 182 99% 73%;
    --radius: 0.5rem;
    
    --bid: 140 70% 45%;
    --ask: 0 70% 55%;
  }
 
  .dark {
    --background: 240 5% 20%;
    --foreground: 0 0% 98%;
    --card: 223 23% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 223 23% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 223 23% 19%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 182 99% 73%;
    --accent-foreground: 223 23% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 30%;
    --input: 240 5% 30%;
    --ring: 182 99% 73%;

    --bid: 140 70% 45%;
    --ask: 0 70% 55%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
